/*************************tags*********************/
body {
  
}

h1 {
  color: #66BFBF;
}

h2 { 
  color: #66BFBF;
}

h3 { 
  color: #11999E;
}

/*************************classes*********************/
.projects {
  line-height: 2;
}

.summary {
  line-height: 2;
}

.education {
 line-height: 1.5;
}

.section-content {
  line-height: 1.5;
}

.name {
  line-height: 0.5;
}

.hobbies {
  line-height: 2
}

.star {
  font-size: 1.5em;
  color: orange;
}

/*************************ids*********************/
#info {
  line-height: 1.5;
}

